# ============================
# Java / Maven / Spring Boot
# ============================
target/
*.jar
*.war
*.class

# ============================
# Node.js / React / Vite
# ============================
node_modules/
dist/
.vite/

# ============================
# Данные и секреты (ОЧЕНЬ ВАЖНО!)
# ============================
data.db
*.db
*.sqlite
certbot/
*.env
.env.*
*.pem
*.key

# ============================
# IDE / Логи / Системные
# ============================
.idea/
.vscode/
*.iml
*.log
.DS_Store
Thumbs.db